* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

section {
  margin-bottom: 3.2rem;
}

section:last-child {
  margin-bottom: 0;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

ul p {
  padding-left: 1.5rem;
}

/* Helper classes */

.margin-top-md {
  margin-top: 2.8rem;
}

.top-border {
  border-top: 1px solid hsl(30, 18%, 87%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: hsl(30, 54%, 90%);
  padding: 10rem 0;
}

.heading-secondary {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.8rem;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  padding: 3.6rem 3.8rem;
  border-radius: 10px;
  max-width: 67.5rem;
}

.recipe-info-container {
  width: 100%;
}

.recipe-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.recipe-name {
  font-family: "Young Serif", serif;
  font-size: 4rem;
  font-weight: 400;
  color: hsl(24, 5%, 18%);
  margin-bottom: 1.8rem;
}

/* Preparation Section */

.prep-time-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(330, 100%, 98%);
  padding: 2.4rem;
  border-radius: 10px;
}

.prep-time-heading {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.timing-list {
  padding-left: 2.4rem;
}

.timing-list-item::marker {
  color: hsl(332, 51%, 32%);
}

/* Ingredients Section */

.ingredients-list {
  padding-left: 2rem;
}

.ingredients-list-item::marker {
  color: hsl(14, 45%, 36%);
}

/* Instructions Section */

.instruction-list {
  padding-left: 2rem;
}

.instruction-list-item::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.instruction-list-item p {
  padding-left: 1.8rem;
}

/* Nutrition Section */

.recipe-nutrition p {
  margin-bottom: 2rem;
}

.nutrition-table {
  width: 100%;
}

td,
th {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 1rem 0;
}

tr:last-child td,
tr:last-child th {
  border-bottom: none;
}

th {
  text-align: left;
  padding-left: 3.2rem;
  font-weight: 400;
  width: 50%;
}

td {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
}
